body {
    background-color: black
}

h1 {
    color: white
}

p {
    color: white
}

#rock {
    background-color: gray
}

#paper {
    background-color: gray
}

#scissors {
    background-color: gray
}

#hint {
    background-color: gray
}